 .col2{
 	background: pink;
 	width: 50%;
 	margin-top: 1%;
 	margin-bottom: 1%;
 	margin-left: 0%
 	margin-right:0%;
 	float: left;
 	padding: 1%;
 	box-sizing: border-box;
 }
 .col3{
 	background: pink;
 	width: 33.33%;
 	margin-top: 1%;
 	margin-bottom: 1%;
 	margin-left: 0%
 	margin-right:0%;
 	float: left;
 	padding: 1%;
 	box-sizing: border-box;
 }
 .col4{
 	background: pink;
 	width: 20%;
 	margin-top: 1%;
 	margin-bottom: 1%;
 	margin-left: 0%
 	margin-right:0%;
 	float: left;
 	padding: 1%;
 	box-sizing: border-box;
 }
 .container{
 	width: 800px;
 	margin: auto; 
 }
 section{ 
 	background: #F9F5C9;
 	margin: 1% 0;
 	padding: 1% 0;
 }

 .clear{ clear: both;}