.contenedor {
  /* 1. Prueba antes de modificar.*/
  /* 2. Indica display: flex; a continuación*/
  display: flex;
  /* 3. Declara flex-flow: row nowrap; Esta propiedad junta las anteriores: wrap y direction */
  flex-flow: row nowrap;
  /* 4. Juega cambiando los valores que aplicaste en los dos ejercicios anteriores*/  
  flex-direction: row-reverse; /*Muestra las letras desde el final*/
  flex-direction: column; /*Muestra las letras en forma de columnas*/
  flex-direction: column-reverse; /*Cambia la dirección de las letras empezando con la ultima*/
  /*En realidad cambia el eje de dirección*/
  background-color: #0C3F7A;
}

.contenedor > div {
  background-color: #FFF;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}