.contenedor {
  /*Prueba antes de iniciar. 
  Despues mira las últimas dos reglas de estilo, líneas 26 y 29, cambia los valores y prueba.*/
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  height: 400px;
  background-color: #0C3F7A;
}

.contenedor > div {
  background-color: #FFF;
  width: 100px;
  margin: 10px;
  text-align: center;
  
  line-height: 75px;
  font-size: 30px;
}
/*Esto cambia la posición del valor 2 (letra B)*/
.contenedor > div:nth-child(2) {
      /*flex-start la pone arriba (inicio del vertice)
      Center la muestra en el centro
      flex-end muestra la letra hasta abajo*/
      align-self: flex-end; /*cambia este valor*/  
    }
    /*Esto modifica la posición del elemento 3 (letra C)*/
    .contenedor > div:nth-child(3) {
            /*flex-start la pone arriba (inicio del vertice)
      Center la muestra en el centro
      flex-end muestra la letra hasta abajo*/
      align-self: flex-start; /*cambia este valor*/ 

    }