.contenedor {
  /* 1. Prueba antes de modificar.*/
  /* 2. Indica display: flex; a continuación*/
  display: flex; /*Alinea las letras de manera horizontal y se observa su fila de color blanco*/
  /* 3. Declara align-items: stretch; ( de hecho es el valor por default) */ 
align-items: stretch;
  /* 4. Intenta ahora probando al cambiar el valor a flex-start, center, flex-end, stretch y baseline */
align-items: flex-start; /*Acomoda las letras del lado izquierdo superior*/
align-items: center; /*Centra las letras del eje vertical (lado izquierdo centro) solo del contenedor*/
align-items: flex-end; /*Muestra las letras debajo del contenedor*/
align-items: stretch; /*Abarca todo el alto del contenedor*/
align-items: baseline;/*Solo redujo el alto del contenedor anterior*/
  /*El valor baseline no tendra efectos, cambia a diferentes tamaños las etiquetas de texto (h3, h6, h2 por ejemplo) para verlo en acción*/
  height: 400px;
  background-color: #0C3F7A;
}

.contenedor > div {
  background-color: #FFF;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}