.contenedor {
	/* 1. Prueba antes de modificar.*/
	/* 2. Indica display: flex; a continuación*/
	display: flex;
	/* 3. Declara flex-direction: row; (row es el valor por default). Prueba */
	flex-direction: row;
	/* 4. Cambia los valores para flex-direction y prueba con row-reverse, column y column-reverse */
	flex-direction: row-reverse; /*Cambia la dirección del eje*/
	flex-direction: column;/*Muestra los elementos en forma de columnas*/
	flex-direction: column-reverse; /*Cambia la direccion del eje (vertical)*/
	background-color: #0C3F7A;
}

.contenedor > div {
	background-color: #FFF;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}