h1{text-align:center;}
strong{ color: darkblue; font-weight: bold;}
em{ color: red; font-weight: bold;}
.grid-container{
  display: grid;
  grid-gap: 10px;
  background-color: rgba(0,101,213,1.00);
  padding: 10px;
}

.grid-container > div{
  color: darkblue;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
@media screen and ( min-width: 768px ){
  
  /* Aqui van tus estilos si quieres que sea responsivo 
  
     Puedes observar el archivo 05_GLM_lines.html como referencia.
  
     */

     /*El diseño ahora es responsivo con tamaño minimo de 768px*/
     .gridcontainer{
      width: 100%;

    }
    
  }
  .item1 {
    grid-column-start: 1; /*Inicia en la posicion uno*/
    grid-column-end: 4;/*Termina en la posicion 3 con el valor que seguia*/

  }

  .item2 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    
  }
  .item3{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  
  .item6{
    grid-column-start: 1;
    grid-column-end: 4;
  }

  