 h1{text-align:center;}
 strong{ color: darkblue; font-weight: bold;}
 em{ color: red; font-weight: bold;}
 .grid-container {
  /* 1. Indica display: grid;*/
  display: grid;
  /* 2. Luego indica grid-gap: 10px;*/
  grid-gap: 10px; /*Crea espacios entre filas*/
  /* 3. Por último insertacolumnas con grid-template-columns: 300px auto 200px; */
  grid-template-columns: 300px auto 200px; /*Las columnas toman el valor escrito, 
  la de enmedio toma un valor automatico*/
  background-color: rgba(0,93,99,1.00);
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

